<!-- your html code here -->
<div class="container my-5">
    <h2>Contact</h2>
    <p>Fugiat enim ipsum anim ipsum dolor ipsum. In nostrud sunt nulla magna. Velit et quis quis labore adipisicing consequat nostrud veniam. Aliquip ea dolore quis occaecat tempor et nisi tempor qui ullamco in. Ullamco cupidatat dolor non in labore labore aute.</p>
    <form class="bg-light py-4 px-1 offset-1 col-10 my-3">
        <div class="form-group d-flex">
          <label class="offset-2 col-2 text-right" for="exampleInputEmail1"><strong>Your E-mail</strong></label>
          <input type="email" class="form-control col-7" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
        </div>
        <div class="form-group d-flex">
            <label class="offset-2 col-2 text-right" for="exampleFormControlTextarea1"><strong>Your message</strong></label>
            <textarea class="form-control col-7" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
          </div>
        <button type="submit" class="btn btn-primary offset-10 col-1">Submit</button>
      </form>
</div>
<!-- <p>Hello, I'm contact.html</p> -->